secrets.yaml
phue.conf
.ios.conf
bravia.conf
home-assistant.log
entity_registry.yaml
.config_entries.json
ip_bans.yaml
home-assistant_v2.db

.homekit.state
.uuid
._*
hi

logarchive/*
deps/*
known_devices*
old.yaml
config.sublime-project
config.sublime-workspace

.DS_Store
.HA_VERSION

.storage/*
tts/*
